*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: auto;
  width: 1536px;
}

.card_main{
  display: grid;
  grid-template-columns: 276px 276px 276px 276px 276px;
  margin-top: 40px;
  gap: 24px 16px;
  margin-left: 49px;
}

.cards{
  border-radius: 8px;
  border: 1px solid var(--outline, #E2E2E2);
  background: var(--style, #FFF);
  height: 367px;
  width: 259px;
  position: relative;
}

.imgcard{
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 259px;
}

h1{
  margin-left: 49px;
  color: var(--black, #212121);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
  align-self: stretch;
}

h2{
  color: var(--active, #52057B);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 127px;
  margin-top: 16px;
  margin-left: 16px;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(82, 5, 123, 0.10);
  
}

p{
  margin-top: 8px;
  margin-left: 16px;
  align-self: stretch;
  color: var(--black, #212121);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: start;
 padding-right: 16px;
 padding-bottom: 38px;
}


span{
  color: var(--black, #212121);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex: 1 0 0;
  margin-left: 16px;
}

.Logo{
   margin-left: 144px;
   padding-right: 8px;
}


